
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
    <targets>
        <!--这个目标:最终输出文件类型, 位于根目录中得logs文件夹中, 名称以每日得时间一次生成log文件 , layout: 这个选项为生成的格式-->
        <target xsi:type="File" name="file"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${longdate} - [${uppercase:${level}}] ${message}" />
        <target xsi:type="Console" name="console"
                layout="${longdate} - [${uppercase:${level}}] ${message}"/>
    </targets>

    <rules>
        <!--设定了一个Debug得路由, 最终指向了一个f名称得目标 -->
        <logger name="*" minlevel="Info" writeTo="file" />
        <logger name="*" minlevel="Debug" writeTo="console"/>
    </rules>
</nlog>